{% extends "base.html" %}

{% block titulo %}Tareas{% endblock %}

{% block contenido %}

<section class="container pt-4">
    <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Tasa Metabólica Basal (TMB)</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué es la Tasa Metabólica Basal?</h5>
                    <p>La TMB indica cuantas calorias usa tu cuerpo solo para mantenerse vivo, incluso cuando estas en reposo. Conocer este valor nos permite saber cuantas calorías necesitamos como minimo cada dia.</p>
                    <p>Ingresa tus datos para obtener tu TMB (Ingresa el numero solo)</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='img/tmb.jpg') }}" class="img-fluid rounded-4"
                alt="Dibujo de una persona revisando su TMB en una tablet.">
        </div>
    </div>
</section>

{% endblock %}