{% extends "base.html" %}

{% block titulo %}Registrarse{% endblock %}

{% block contenido %}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-bg-light p-3 p-md-4 shadow-sm">
                <h2 class="text-center">Crea tu perfil</h2>
                <p class="text-center text-muted">Es rápido y fácil.</p>
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else 'danger' }} alert-dismissible fade show"
                    role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <section>
                    <form method="post" id="registro" action="/registrar">
                        <div class="row mb-3">
                            <div class="col text-start">
                                <label for="nombre" class="form-label fw-medium">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ej: Juan"
                                    required minlength="2" maxlength="20" value="{{ request.form.get('nombre', '')}}">
                            </div>
                            <div class="col text-start">
                                <label for="apellido" class="form-label fw-medium">Apellido</label>
                                <input type="text" class="form-control" id="apellido" name="apellido"
                                    placeholder="Ej: Pérez" required minlength="2" maxlength="20"
                                    value="{{ request.form.get('apellido', '')}}">
                            </div>
                        </div>
                        <div class="mb-4 text-start">
                            <label class="form-label fw-medium">Fecha de nacimiento</label>
                            <div class="row">
                                <div class="col-3">
                                    <label for="dia" class="form-label small">Día</label>
                                    <input type="number" class="form-control" id="dia" name="dia" min="1" max="31"
                                        placeholder="DD" value="{{ request.form.get('dia', '')}}">
                                </div>
                                <div class="col-4">
                                    <label for="mes" class="form-label small">Mes</label>
                                    <input type="number" class="form-control" id="mes" name="mes" min="1" max="12"
                                        placeholder="MM" value="{{ request.form.get('mes', '')}}">
                                </div>
                                <div class="col-4">
                                    <label for="year" class="form-label small">Año</label>
                                    <input type="number" class="form-control" id="year" name="year" min="1800"
                                        max="2025" placeholder="AAAA" value="{{ request.form.get('year', '')}}">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="genero" class="form-label fw-medium">Género</label>
                            <select class="form-select" id="genero" name="genero" required>
                                <option value="" selected disabled>Selecciona tu Género</option>
                                <option value="hombre">Hombre</option>
                                <option value="mujer">Mujer</option>
                            </select>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="correo" class="form-label fw-medium">Correo Electrónico</label>
                            <input type="email" class="form-control" id="correo" name="correo"
                                placeholder="Ej: juan@correo.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                required value="{{ request.form.get('correo', '')}}">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label fw-medium">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" required
                                placeholder="Crea una contraseña segura" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                title="Debe contener al menos un número, una mayúscula y tener mínimo 8 caracteres"
                                value="{{ request.form.get('password', '')}}">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="confirmPassword" class="form-label fw-medium">Confirmar Contraseña</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                required placeholder="Repite tu contraseña"
                                value="{{ request.form.get('confirmPassword', '')}}">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100">Registrarte</button>
                        </div>
                        <div class="text-center">
                            <a href="http://127.0.0.1:5000/iniciar">¿Ya tienes una cuenta?</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}