{% extends "base.html" %}

{% block titulo %}Registrarse{% endblock %}

{% block contenido %}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-1 p-3 p-md-4 shadow-sm">
                <h2 class="text-center mb-4">Registrate</h2>
                <div class="text-center mb-3">
                    <img src="{{ url_for('static', filename='img/1000110924.png') }}" class="img-fluid" alt="icono">
                </div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
                    role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <section>
                    <form method="post" id="registro" action="{{ url_for('registrar') }}">
                        <div class="row mb-3">
                            <div class="col text-start">
                                <label for="nombre" class="form-label fw-medium">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                    placeholder="María" required minlength="2" maxlength="20"
                                    value="{{ request.form.get('nombre', '')}}">
                            </div>
                            <div class="col text-start">
                                <label for="apellido" class="form-label fw-medium">Apellido</label>
                                <input type="text" class="form-control" id="apellido" name="apellido"
                                    placeholder="Torres" required minlength="2" maxlength="20"
                                    value="{{ request.form.get('apellido', '')}}">
                            </div>
                        </div>
                        <div class="mb-4 text-start">
                            <label class="form-label fw-medium">Fecha de
                                nacimiento</label>
                            <div class="mb-4 text-start">
                                <input type="date" class="form-control" id="fecha" name="fecha"
                                    value="{{ request.form.get('fecha', '') }}">
                            </div>
                            <div class="mb-3 text-start">
                                <label for="correo" class="form-label fw-medium">Correo
                                    Electrónico</label>
                                <input type="email" class="form-control" id="correo" name="correo"
                                    placeholder="maria123@correo.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                    required value="{{ request.form.get('correo', '')}}">
                            </div>
                            <div class="mb-3 text-start">
                                <label for="password" class="form-label fw-medium">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" required
                                    placeholder="Crea una contraseña segura"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    title="Debe contener al menos un número, una mayúscula y tener mínimo 8 caracteres"
                                    value="{{ request.form.get('password', '')}}">
                            </div>
                            <div class="mb-3 text-start">
                                <label for="confirmPassword" class="form-label fw-medium">Confirmar
                                    Contraseña</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    required placeholder="Repite tu contraseña"
                                    value="{{ request.form.get('confirmPassword', '')}}">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary w-100">Registrarte</button>
                            </div>
                            <div class="text-center">
                                <a href="{{ url_for('sesion') }}">Ya tengo una
                                    cuenta</a>
                            </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}