{% extends "base.html" %}

{% block titulo %}Iniciar sesion{% endblock %}

{% block contenido %}

<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card card-1 p-4">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <div class="text-center mb-3">
          <img src="{{ url_for('static', filename='img/1000110924.png') }}" class="img-fluid" alt="icono">
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
          role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if session.get('logueado') %}
        <div class="text-center">
          <h4>¡Hola {{ session.get('usuario') }}!</h4>
          <p>Ya has iniciado sesión.</p>
          <a href="{{ url_for('logout') }}" class="btn btn-warning">Cerrar
            Sesión</a>
        </div>
        {% else %}
        <form method="post" action="{{ url_for('validar') }}">
          <div class="mb-3">
            <input type="email" class="form-control" name="correo" placeholder="Correo electrónico" required
              value="{{ request.form.get('correo', '') }}" />
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Contraseña" required />
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">
              Iniciar Sesión
            </button>
          </div>

        </form>
        <div class="text-center mt-3">
          <p>
            ¿Olvidaste tu contraseña?
            <a href="{{ url_for('contraseña') }}">Recuperar contraseña</a>
          </p>
          <p>
            ¿No tienes cuenta?
            <a href="{{ url_for('registrar') }}">Regístrate aquí</a>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}